APP_ENV=
APP_PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ISSUER=
JWT_ACCESS_TTL_MIN=
JWT_REFRESH_TTL_HOUR=